In [1]:
print("Hello World")

Hello World

In [3]:
print ("""Hello
       
       
World""") ## bu şekilde 3 tırnak ile direkt alta geçip yazma şansımız var.

Hello


World

In [4]:
x = "Hello World"
print(x)

Hello World

In [37]:
x1 = "Hello"
x2 = "World"
print(x1 +" "+ x2) ## Bu şekilde Toplama şeklinde yan yana yazdırma fırsatımız da var

hello World

In [21]:
print(x1[2])
print(x2[0]) ## [] kullanarak istediğimiz textin istediğimiz harfini yazdırabiliriz. 0. Indexten başlıyor.
print(x2[-1]) ## Tersten gittiğimizde ise index -1 den başlıyor.

l
W
o

In [29]:
print(x1[0:3]) ## Kaçıncı indexten hangisine kadar yazdırıcağımızı bu şekilde yapıyoruz.Başlangıç indexi dahil ama bitiş indexi dahil değil
print(x1[::2]) ## Burada da istediğimiz başlangıç indexinden sonuncusuna kadar ne kadar aralıkla istediğimizi girebiliriz.
print(x1[::-1]) ## Metni tersten yazdırıyoruz

Hel
Hlo
olleH

In [48]:
print(x1.upper()) ## Basit bazı fonksiyonlar. Eğer x1. yaptıktan sonra foksiyonlara erişmek istiyorsan tab kullanabilirsin.
print(x2.lower())
x3 = "lowercapital"
print(x3.capitalize())
print(x3.startswith("low")) ## Büyük harf ve küçük harfe dikkat edilmeli.
print(x3.startswith("Low"))
print(x3.startswith("lew"))
print(x3.endswith("al"))
print(len(x3))
print(len(x1 + x2 + x3 + " "))

HELLO
world
Lowercapital
True
False
False
True
12
23

In [51]:
print(x1 * 10)
print("Selam" *3)
print("Selam"+x1 * 5)

hellohellohellohellohellohellohellohellohellohello
SelamSelamSelam
Selamhellohellohellohellohello

In [55]:
isim = "Ali"
yaş = 20
print("{} {} yaşındadır.".format(isim,yaş))
print(f"{isim} {yaş} yaşındadır.") ##bu şekilde bir kullanımda var. Önce f koyup daha sonra tırnak açıyoruz.

Ali 20 yaşındadır.
Ali 20 yaşındadır

In [64]:
sayi1 = 15
sayi2 = 22.5
sayi3 = 5**2 ## ** ifadesi üzeri (üssü) ifadesi anlamındadır.
print(type(sayi1))
print(type(sayi2))
print(sayi3)

<class 'int'>
<class 'float'>
<class 'int'>
7888609052210118054117285652827862296732064351090230047702789306640625

In [75]:
sayi4 = sayi2//sayi1 ##tam sayı bölmesi yapar.
print(sayi4)
sayi5 = -22.5
print(abs(sayi5)) ## mutlak değer
print(abs(round(sayi5))) ## round fonksiyonu sayıyı yuvarlar. Bu şekilde ikili de kullanabiliriz abs ve roundu.Eğer 0.5 ise 1'e yuvarlanır.
sayi6 = 20.435163
print(round(sayi6,2)) ## Virgülden sonra kaç basamak yuvarlayacağımızı belirlemek için bu şekilde kullanabiliriz.
## işlem önceliği gündelik hayatımızdaki gibidir.

1.0
22.5
22
20.44

In [84]:
number0 = "100"
number1 = int(number0) ## Eğer bir tip diğer tipe dönüşmeye uygunsa bu kullanımla bunu yapabiliriz.
print(number1)
number2 = 21.7
number3 = int(number2)
print(number3)
number4 = str(number2)
print(type(number4))

100
21
<class 'str'>